<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>Editor | Afterglow</title>
    <link rel="stylesheet" type="text/css" href="../../common/css/base.css">
    <link rel="stylesheet" type="text/css" href="editor.css">
    <script type="text/javascript" src="editor.js"></script>
    <script type="text/javascript" src="../../common/js/ElementMaker.js"></script>
  </head>

  <body>
    
    <iframe src="../login/login.html" width="900" height="600px"></iframe> 

  </body>

</html>